<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 about">
                <h2>About Us</h2>
                <p>We're a diverse group of like-minded individuals all over the planet connected through a
                    common cause. </p>

                <div class="foot-address">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="addet">
                        West Bengal, IN
                    </div>
                </div>
                <div class="foot-address">
                    <div class="icon">
                        <i class="far fa-envelope-open"></i>
                    </div>
                    <div class="addet">
                        sandipan2224@gmail.com
                    </div>
                </div>
                <div class="foot-address">
                    <div class="icon">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="addet">
                        +91 819 283 1024
                    </div>
                </div>
            </div>
            <div class="col-md-6 fotblog">
                <h2>From latest Blog</h2>
                <div class="blohjb">
                    <h6>Understanding Consumer Behaviour to Reduce Wildlife Demand. </h6>
                    <p>Curbing illegal, unsustainable and high-disease-risk wildlife consumer demand is an urgent and
                        difficult task.</p>
                    <span>01-10-2021</span>
                </div>
                <div class="blohjb">
                    <h6>Road to Recovery in Latin America. </h6>
                    <p>Managing conflict between wildlife and farmers is just one way that conservationists are working
                        to protect.</p>
                    <span>02-10-2021</span>
                </div>
            </div>
        </div>
    </div>
</footer>